/* max-width */
.mxw500 {
	max-width: 500px;
}

.mxw550 {
	max-width: 550px;
}

.mxw600 {
	max-width: 600px;
}

.mxw650 {
	max-width: 650px;
}

.mxw700 {
	max-width: 700px;
}

.mxw750 {
	max-width: 750px;
}

.mxw800 {
	max-width: 800px;
}

.inblock {
	display: inline-block;
}

/* margin */
.mgb5 {
	margin-bottom: 5px;
}

.mgb10 {
	margin-bottom: 10px;
}

.mgb20 {
	margin-bottom: 20px!important;
}

.mgt10 {
	margin-top: 10px;
}

.mgt20 {
	margin-top: 20px!important;
}

.mgl10 {
	margin-left: 10px;
}

.mgr10 {
	margin-right: 10px;
}

/* padding */
.pdt10 {
	padding-top: 10px;
}

.pdr10 {
	padding-right: 10px;
}

.pdl10 {
	padding-left: 10px;
}

.pdb10 {
	padding-bottom: 10px;
}

.pdv20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* 가로 사이즈 */
.w160 {
	width: 160px;
}

/* 라벨 */
.label1 {
	font-size: 13pt;
	font-weight: bold;
	line-height: 230%;
	color: gray;
}

/* 박스 */
.box100 {
	width: 100px;
	height: 100px;
}